
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset="form-group">
                <legend class="border-bottom mb-4">Ticker Lookup App</legend>
                <div class="form-group">
                    {{ form.ticker.label(class="form-control-label") }}
                    {{ form.ticker(class="form-control form-control-lg") }}
                </div>
                <div class=""?
                    
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}

