
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.css" type="text/css">

    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.0.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js"></script>
    <title>Stock Plotter</title>
    </head>
    
    <body>
        <div class=page>
            {{ script|safe }}
            {{ div|safe }}
        </div>
    </body>
</html>